.mainnav{
    background-color:#1e2b9ee3;
    
}


/* .navbar-toggler{
    background-color: #191970;
    color: #191970;

fon

.search{
    width: 30rem;
}

.bx-menu{
    color: white;
}
.navbar-toggler-icon{
    color: white;
}


/*   
    @media (min-width : 768px) {
        .offsearch{
            width: 30rem;
        }
    }

    
    @media (max-width : 720px) {
        .offsearch{
            width: 30rem;
        }
    } 

  
    @media (max-width : 576px) {
        .offsearch{
            width: 10rem;
        }
    } 

    
    
    @media (max-width : 280px) {
        .offsearch{
            width: 8rem;
        }
    }  */